.App {
  text-align: center;
}

.ProductList {
  margin-top: 5%;
  text-align: center;
  width: 80vw;
  margin-left: auto; margin-right: auto;
  border-collapse: collapse;
}

thead {
  background-color: #ddd;
  height: 50px;
}

td > div {
  border-top: 1px solid #ddd;
  height: 50px;
}

