.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SEARCHBAR */

.search-bar {
  display: flex;
  flex-direction: column;
  margin: 20px 80px;
}

#header-search {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #005CC8;
}

.search-bar form {
  display: flex;
  padding: 10px 0;
}

.search-bar p {
  margin: 0 5px;
  color: #005CC8;
  font-size: 90%;
}


/* TABLE */

table {
  margin: auto;
}

td {
  border-top: 1px solid #005dc8da;
  padding: 5px 170px
}

thead {
  background: #005dc8da;
  color: white;
  height: 30px;
}

.row {
  color: grey;
}